$palette: (
  // MAIN COLOR SYSTEM
  // appearance / slate
  slate: (
      50: #f8fafc,
      100: #f1f5f9,
      200: #e2e8f0,
      300: #cad5e2,
      400: #90a1b9,
      500: #62748e,
      600: #45556c,
      700: #314158,
      800: #1d293d,
      900: #0f172b,
      950: #020618,
    ),

  // primary / orange
  orange: (
      50: #fff7ed,
      100: #ffedd4,
      200: #ffd6a7,
      300: #ffb86a,
      400: #ff8904,
      500: #ff6900,
      600: #f54900,
      700: #ca3500,
      800: #9f2d00,
      900: #7e2a0c,
      950: #441306,
    ),

  // secondary / teal
  teal: (
      50: #f0fdfa,
      100: #cbfbf1,
      200: #96f7e4,
      300: #46ecd5,
      400: #00d5be,
      500: #00bba7,
      600: #009689,
      700: #00786f,
      800: #005f5a,
      900: #0b4f4a,
      950: #022f2e,
    ),

  // secondary / indigo
  indigo: (
      50: #eef2ff,
      100: #e0e7ff,
      200: #c6d2ff,
      300: #a3b3ff,
      400: #7c86ff,
      500: #615fff,
      600: #4f39f6,
      700: #432dd7,
      800: #372aac,
      900: #312c85,
      950: #1e1a4d,
    ),

  // accent / purple
  purple: (
      50: #faf5ff,
      100: #f3e8ff,
      200: #e9d4ff,
      300: #dab2ff,
      400: #c27aff,
      500: #ad46ff,
      600: #9810fa,
      700: #8200db,
      800: #6e11b0,
      900: #59168b,
      950: #3c0366,
    ),

  // secondary / rose
  rose: (
      50: #fff1f2,
      100: #ffe4e6,
      200: #ffccd2,
      300: #ffa1ad,
      400: #ff637e,
      500: #ff2056,
      600: #ec003f,
      700: #c60036,
      800: #a50036,
      900: #8b0036,
      950: #4d0218,
    ),

  // NEUTRAL COLORS
  gray: (
      50: #ffffff,
      100: #f5f5f5,
      200: #e5e5e5,
      300: #d1d5dc,
      400: #d4d4d4,
      500: #a1a1a1,
      600: #737373,
      700: #525252,
      800: #404040,
      900: #171717,
      950: #0a0a0a,
    ),

  // SEMANTIC COLORS
  // error / red
  red: (
      50: #fef2f2,
      100: #ffe2e2,
      200: #ffc9c9,
      300: #ffa2a2,
      400: #ff6467,
      500: #fb2c36,
      600: #e7000b,
      700: #c10007,
      800: #9f0712,
      900: #82181a,
      950: #460809,
    ),

  // success / green
  green: (
      50: #f0fdf4,
      100: #dcfce7,
      200: #b9f8cf,
      300: #7bf1a7,
      400: #05df72,
      500: #00c950,
      600: #00a63e,
      700: #008235,
      800: #016630,
      900: #0d542b,
      950: #032e15,
    ),

  // info / yellow
  yellow: (
      50: #fefce8,
      100: #fef9c2,
      200: #fff085,
      300: #ffdf20,
      400: #fdc700,
      500: #f0b100,
      600: #d08700,
      700: #a65f00,
      800: #894b00,
      900: #733e0a,
      950: #432004,
    )
);
