@use '@/styles/utils';
@use '@/styles/font-face';
@use '@/styles/variables/theme/aliases/theme';
@use '@/styles/media';

:root {
  /* color palette from <https://github.com/vuejs/theme> */
  --vt-c-white: #ffffff;

  --vt-c-black: #181818;
}

// todo: implement a color mode toggle
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'Fira Code', monospace;
}

html {
  height: 100%;
}

body {
  height: 100%;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: utils.rem(16px);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  padding: utils.rem(16px);
  background-color: theme.$backdrop;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include media.desktop-up {
    padding: utils.rem(70px);
  }
}
