@use '@/styles/variables/theme/aliases/theme';
@use '@/styles/variables/defaults';
@use '@/styles/media';

.header {
  display: flex;
  border-bottom: 1px solid theme.$stroke;
  color: theme.$foreground;
  justify-content: space-between;

  @include media.desktop-up {
    align-items: center;
  }
}

.brand {
  display: block;
  margin-right: 0;
  padding: utils.rem(16px) utils.rem(24px);
  white-space: nowrap;
  min-width: utils.rem(defaults.$sidebar-width);
  border-right: 1px solid theme.$stroke;
}

.menu-icon {
  display: flex;
  padding: utils.rem(16px);
  cursor: pointer;
  border: none;
  background: transparent;

  @include media.desktop-up {
    display: none;
  }
}
